doctype html
<!--[if IE 7]>    
<html class="ie7 no-js" lang="en" ng-app="mainApp">
<![endif]-->
<!--[if lte IE 8]>
<html class="ie8 no-js" lang="en" ng-app="mainApp">
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> 
html.not-ie.no-js(lang="en" ng-app="mainApp")  
  <!--<![endif]-->
  head
    meta(charset="utf-8")
    meta(name="description")
    meta(name="author")
    meta(name="author", content="Pintea Sorin")
    meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0")
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- styles -->
    <!-- fonts -->
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic%7CBitter:700', rel='stylesheet', type='text/css')
    link(rel="stylesheet" href="includes/css/bm_distances.css")
    link(rel="stylesheet" href="includes/css/font-awesome.css")
    script(src="includes/js/jquery-2.1.3.min.js")
    script(src="includes/js/angular-1.3.14.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js")
    script(src="includes/js/app.js")
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet", href="includes/css/custom.css")
    <!--[if IE]>
    link(rel="stylesheet", href="includes/css/ie.css")
    <![endif]-->
  body
    include app/header/header.jade
    
    .ui-view
    
    include app/footer/footer.jade