/* Defined clasess 
   normal : 10px;
   xl:      30px;
   xx:      60px;
*/

/* Box Model margins */
.no-margin {
  margin: 0px !important;
}
.margin {
  margin: 10px;
}
.margin-xl {
  margin: 30px;
}
.margin-xxl {
  margin: 60px;
}
.margin-top {
  margin-top: 10px;
}
.margin-top-xl {
  margin-top: 30px;
}
.margin-top-xxl {
  margin-top: 60px;
}
.margin-bottom {
  margin-bottom: 10px;
}
.margin-bottom-xl {
  margin-bottom: 30px;
}
.margin-bottom-xxl {
  margin-bottom: 60px;
}
.margin-left {
  margin-left: 10px;
}
.margin-left-xl {
  margin-left: 30px;
}
.margin-left-xxl {
  margin-left: 60px;
}
.margin-right {
  margin-right: 10px;
}
.margin-right-xl {
  margin-right: 30px;
}
.margin-right-xxl {
  margin-right: 60px;
}
/* Box Model Paddings */
.no-pad {
  padding: 0px !important;
}
.pad {
  padding: 10px;
}
.pad-xl {
  padding: 30px;
}
.pad-xxl {
  padding: 60px;
}
.pad-top {
  padding-top: 10px;
}
.pad-top-xl {
  padding-top: 30px;
}
.pad-top-xxl {
  padding-top: 60px;
}
.pad-bottom {
  padding-bottom: 10px;
}
.pad-bottom-xl {
  padding-bottom: 30px;
}
.pad-bottom-xxl {
  padding-bottom: 60px;
}
.pad-left {
  padding-left: 10px;
}
.pad-left-xl {
  padding-left: 30px;
}
.pad-left-xxl {
  padding-left: 60px;
}
.pad-right {
  padding-right: 10px;
}
.pad-right-xl {
  padding-right: 30px;
}
.pad-right-xxl {
  padding-right: 60px;
}