.header {
  position: fixed;
  background-color: #09c;
  overflow: hidden;
  padding-top: 15px;
  height : 60px;
  width : 100%;
  top: 0px;
  #post_offer {
    margin-top: -120px;
    margin-left: 115px;
  }
  .logo {
    display: block;
    background-color: #fff;
    height:100px;
    width: 100px;
    border-radius: 50%;
    margin-top: -35px;
    img {
      margin-left: 10px;
      margin-top: 25px;
    }
  }
}
button i {
  margin-left: 3px;
  margin-right: 3px;
}
