.header(ng-controller="headerController")
  .container
    .col-xs-4
      .logo
        img(src="includes/imgs/logo.png")
      button#post_offer.btn.btn-sm.btn-success.margin-left
        i.fa.fa-comments
        |Posteaza anunt
    .col-xs-8
      button.btn.btn-sm.btn-primary.pull-right
        i.fa.fa-envelope
        |Contact
      button.btn.btn-sm.btn-primary.pull-right.margin-right
        i.fa.fa-user
        |Logare